/* important */
#map{
    width: 100%;
    height: 700px;
}

#map-modal{
    width: 100%;
    height: 100%;
    background-color: bisque;
}

.flex-c{
    display: flex;
    flex-direction: column;
}
.flex-c-c{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.flex-c-st{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
.flex-r{
    display: flex;
}
.flex-r-b{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-r-a{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.flex-r-c{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-r-st{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.flex-r-ed{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.icon-16{
    width: 16px;
    height: 16px;
}
.icon-24{
    width: 24px;
    height: 24px;
}
.icon-30{
    width: 30px;
    height: 30px;
}
.icon-48{
    width: 48px;
    height: 48px;
}
.hover-effect:hover{
    cursor: pointer;
    filter: drop-shadow(2px 2px 4px #ca931c);
}
.my-10{
    margin: 10px 0px;
}
.hide{
    display: none;
}
.pointer{
    cursor: pointer;
}
.btn-outline{
    margin: 5px;
}
.btn-outline:hover{
    color: var(--main2);
    cursor: pointer;
}
.btn{
    min-width: 68px;
    margin: 0px 4px;
    color: #fff;
    text-decoration: none;
    padding: 5px 15px;
    border-radius: 5px;
    display: inline-block;
    border: none;
}
.btn-submit{
    background: var(--primary);
}
.btn-submit:hover{
    color: #fff;
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
    box-shadow: 0px 5px 20px -10px rgba(0,0,0,0.57);
    transition: all 0.15s ease 0s;
}
.btn-faded{
    background: rgba(var(--primaryRGB), 0.5);
}
.btn-faded:hover{
    background: rgba(var(--primaryRGB), 0.5);
    cursor: default;
    color: white;
}
.btn-cancel{
    color: black;
    background: #ccc;
}
.btn-cancel:hover{
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
    box-shadow: 0px 5px 20px -10px rgba(0,0,0,0.57);
    transition: all 0.15s ease 0s;
}
.btn-altered{
    border: 2px solid var(--primary);
    color: var(--primary);
    background-color: white;
    font-weight: 600;
}
.btn-altered:hover{
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
    box-shadow: 0px 5px 20px -10px rgba(0,0,0,0.57);
    transition: all 0.15s ease 0s;
}
select{
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    outline: none;
    -webkit-appearance: none;
}
.alert-text{
    color: red;
    padding: 4px;
    min-height: 20px;
}
.break-long-words {
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all;
    word-break: break-word;
    hyphens: auto;
}

/* Checkbox */
label{
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.9);
    border: 2px solid rgba(139, 139, 139, 0.3);
    color: #adadad;
    border-radius: 5px;
    white-space: nowrap;
    margin: 3px 0px;
    user-select: none;
    transition: all .2s;
    padding: 2px 6px;
    cursor: pointer;
}
input[type="checkbox"]:checked + label{
    /* border: 2px solid var(--primary); */
    background-color: var(--primary);
    color: #fff;
    transition: all 0.2s;
}
label::before{
    display: inline-block;
    font-weight: 900;
    font-size: 12px;
    /* padding: 2px 6px 2px 2px; */
    content: "";
    transition: transform .3s ease-in-out;
}
input[type="checkbox"]:checked + label::before {
    content: "\2713";
    transform: rotate(-360deg);
    padding: 0px 6px 0px 0px;
    transition: transform 0.3s ease-in-out;
}
input[type="checkbox"]{
    position: absolute;
    opacity: 0;
}

/* Switch */
.switch{
    position: relative;
    display: inline-block;
    width: 50px;
    min-width: 50px;
    height: 30px;
    border-radius: 30px;
    background-color: rgba(0,0,0,0);
}

.switch input{
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.3);
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 6px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
}

/* input:checked + .slider {
    background-color: var(--primary);
}

input:focus + .slider {
    box-shadow: 0 0 1px var(--primary)3;
} */

input:checked + .slider:before {
    transform: translateX(16px);
}

.slider.round {
    border-radius: 30px;
}

.slider.round:before {
    border-radius: 50%;
}
/* Tooltip */
.tip{
    position: relative;
    display: inline-block;
}
.tip>.tiptext {
    visibility: hidden;
    min-width: 40px;
    background-color: rgba(var(--main2RGB), 0.9);
    color:black;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -50%;
    opacity: 0;
    transition: ease-in 0.2s;
}
.tip>.tiptext::after{
    content: "";
    position: absolute;
    top: 100%;
    left: 15px;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgba(var(--main2RGB), 0.9) transparent transparent transparent;
}
.tip:hover>.tiptext{
    visibility: visible;
    opacity: 1;
}
/* -- */